@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap');

:root {
  --bg-gradient: linear-gradient(to right, #fff, #e9993d, #ec2c2c);
  --white-dark: #dbe4c6;
  --red: #ec2c2c;
  --black: #000;
}

body {
  background-color: var(--bg-gradient);
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
}

.listCont {
  background: var(--bg-gradient);
  min-width: 90%;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 5rem;
}

.header {
  font-size: 1.1rem;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--sec);
  color: var(--black);
  font-weight: 600;
}

#add-task-btn i {
  transform: rotate(90deg);
  margin-right: 2px;
}

#reload-icon i {
  color: var(--third);
}

#reload-icon i:not(.enter) {
  cursor: pointer;
}

#reload-icon i:not(.enter):hover {
  color: var(--black);
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid var(--white-dark);
  font-size: 14px;
}

.checkList {
  position: relative;
  margin-right: 10px;
}

li .checkList {
  display: flex;
  align-items: center;
}

input {
  border: none;
  background: transparent;
  font-size: 14px;
  font-style: italic;
  outline: 0;
}

.checkList input {
  margin-right: 10px;
  font-style: normal;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--bg-gradient);
}

button {
  cursor: pointer;
}

.clear-items {
  outline: none;
  border: none;
  width: 100%;
  padding: 0.9rem 3.3rem;
  cursor: pointer;
}

footer .clear-items {
  outline: none;
  color: var(--white-dark);
  border: none;
  background: inherit;
  line-height: 1.5rem;
  font-size: inherit;
  cursor: pointer;
}

.completed {
  transition: opacity 0.3s ease-in-out;
  text-decoration: line-through var(--black);
  color: gray;
}

.refresh:hover {
  transform: rotateZ(90deg);
}

.task-item:hover {
  background-color: #dbe4c6;
}

.checkedBtn {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid transparent;
  position: relative;
  cursor: pointer;
  outline: none;
}

.checkedBtn:checked {
  background-color: var(--black);
}

.inputDesc {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: var(--black);
  padding: 2px;
}

@media screen and (min-width: 768px) {
  .listCont {
    background-color: var(--white-dark);
    min-width: 50%;
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 5rem;
  }
}
