@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  display: flex;
  background: #fff;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  align-items: flex-start;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 1.2rem auto;
  border-bottom: 1px solid #ccc;
  padding: 1.2rem;

  /* min-width: 100%; */
  background: bisque;
}

.completed {
  text-decoration: line-through;
  color: darkblue;
  font-weight: bold;
}

input[type='checkbox'] {
  width: 1.4rem;
  height: 1.2rem;
  transition: 0.5s;
}

#task-form {
  margin: 1.2rem auto;
  padding: 1.2rem;
  min-width: 100%;
  border-bottom: 1px solid #ccc;
  background: bisque;
}

#task-form input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

#add-task-btn {
  color: #000;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 1.4rem;
}

.delete-btn {
  color: #f00;
  background: #fff;
  transition: 0.3s;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.delete-btn:hover {
  color: #fff;
  background: #f00;
}

ul li {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  margin: 0.9rem auto;
}

#todo-list li {
  font-size: 1.2rem;
  padding: 0.5rem 1.4rem;
  border-radius: 5px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

#todo-list li:hover {
  background: bisque;
}

.items {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  background: #fff;
}

.items:hover {
  background: bisque;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: blue;
}
